<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="medical_rover">

    <xacro:include filename="properties.xacro" />
    <xacro:include filename="wheels.xacro" />
    <xacro:include filename="chassis.xacro" />
    <xacro:include filename="sensors.xacro" />
    <xacro:include filename="inertial_values.xacro" />
    <xacro:include filename="gazebo.xacro"/>

    <link name="base_link"/>
    
    <xacro:chassis/>

    <xacro:wheel prefix="left" y_pos="${wheel_y}"/>
    <xacro:wheel prefix="right" y_pos="-${wheel_y}"/>

    <xacro:lidar/>

    <xacro:camera/>

    <xacro:caster/>

    

</robot>