<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="medical_rover">

    <xacro:include filename="properties.xacro" />
    <xacro:include filename="wheels.xacro" />
    <xacro:include filename="chassis.xacro" />
    <xacro:include filename="sensors.xacro" />

    <link name="base_link"/>
    
    <xacro:chassis/>

    <xacro:wheel prefix="left" y_pos="${wheel_y}"/>
    <xacro:wheel prefix="right" y_pos="-${wheel_y}"/>

    <xacro:lidar/>

    <xacro:camera/>

    <link name="caster_wheel_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="${sphere_radius}" />
            </geometry>    
            <material name="grey">
                <color rgba="0.7 0.7 0.7 1" />
            </material>       
        </visual>
    
    </link>

    <joint name="caster_wheel_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="caster_wheel_link"/>
        <origin xyz="${(body_length/2)-sphere_radius} 0 -${sphere_radius}" rpy="0 0 0"/>
    </joint>


</robot>