<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="body_length" value="0.40" />
    <xacro:property name="body_width" value="0.30" />
    <xacro:property name="body_height" value="0.12" />

    <xacro:property name="wheel_radius" value="0.05" />
    <xacro:property name="wheel_width" value="0.03" />

    <xacro:property name="wheel_x" value="-0.10" />
    <xacro:property name="wheel_y" value="${body_width/2 + wheel_width/2}" />

    <xacro:property name="lidar_radius" value="0.03" />
    <xacro:property name="lidar_height" value="0.03" />

    <xacro:property name="camera_length" value="0.04" />
    <xacro:property name="camera_width" value="0.03" />
    <xacro:property name="camera_height" value="0.02" />


    <xacro:property name="sphere_radius" value="0.025" />



</robot>