<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="lidar">
        <link name="lidar_link">
            <visual>
                <origin xyz = "0 0 0" rpy = "0 0 0"/>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}" />
                </geometry>
                <material name="red">
                    <color rgba="1 0 0 1" />
                </material>
            </visual>
            <collision>
                <origin xyz = "0 0 0" rpy = "0 0 0"/>
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}" />
                </geometry>
            </collision>

            <xacro:cylinder_inertia mass="${lidar_mass}" radius="${lidar_radius}" length="${lidar_height}"/>
    
        </link>

        <joint name="lidar_joint" type="fixed">
            <parent link="chassis_link"/>
            <child link="lidar_link"/>
            <origin xyz="${body_length/4} 0 ${body_height} " rpy="0 0 0"/>

        </joint>


    </xacro:macro>

    <xacro:macro name="camera">
        
        <link name="camera_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${camera_width} ${camera_length} ${camera_height}" />
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${camera_width} ${camera_length} ${camera_height}" />
                </geometry>

            </collision>  

            <xacro:box_inertia mass="${camera_mass}" x="${camera_width}" y="${camera_length}" z="${camera_height}" />

    </link>

        <joint name="camera_joint" type="fixed">
            <parent link="chassis_link"/>
            <child link="camera_link"/>
            <origin xyz="${body_length/2} 0 ${body_height-camera_width}" rpy="0 0 0"/>
        
        </joint>


    </xacro:macro>

</robot>